@import "./variables.scss";

.setting-bar {
    height: $setting-bar-height;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 4px 0px gray;
    padding: 0 10px 0 10px;
    position: absolute;
    top: $tool-bar-height;
}